<div class="container-fluid">
    <div class="row" style="background-color: #FFBC7A">
        <center> <h3>Post Creation</h3> </center>
    </div>
    <div class="row" style="padding: 10px;">
        <button class="btn btn-primary pull-right" {{action 'openModal' 'post-create-modal'}}>Add Post</button>
    </div>
    {{#each model.postsArray as |post|}}
        {{post-comp post=post editAct="openModal" sendAct="receiveEditObj" delAct="deletePost"}}<br>
    {{/each}}
</div>
{{outlet}}
{{outlet 'modal'}}